
body {
	margin: 0;
	padding: 0;
	scroll-padding-top: 5rem;
	scroll-behavior: smooth;
	font-family: "Noto Serif", Verdana, "Lucida Sans Unicode", sans-serif;
	background-color: var(--bg-color);
	color: var(--txt-color);
}
:root {
	--bg-color: #000000;
	--txt-color: hsl(222, 100%, 99%);
	--highlight-color: hsl(34, 100%, 63%);
	--link-color: hsl(172, 100%, 26%);
	--shade-color: hsl(222, 12%, 60%);
	--border-color: hsl(222, 12%, 20%);
	--bg-alt-color: hsl(222, 0%, 7%);
}
.lightmode {
	--bg-color: #ffffff;
	--txt-color: hsl(222, 12%, 8%);
	--highlight-color: hsl(34, 92%, 50%);
	--link-color: hsl(172, 100%, 26%);
	--shade-color: hsl(222, 28%, 45%);
	--border-color: hsl(222, 28%, 75%);
	--bg-alt-color: hsl(222, 0%, 93%);
}
