@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: light-dark(oklch(1 0 0), oklch(0.148 0.004 228.8));
	--color-foreground: light-dark(oklch(0.148 0.004 228.8), oklch(0.987 0.002 197.1));
	--color-card: light-dark(oklch(1 0 0), oklch(0.218 0.008 223.9));
	--color-card-foreground: light-dark(oklch(0.148 0.004 228.8), oklch(0.987 0.002 197.1));
	--color-popover: light-dark(oklch(1 0 0), oklch(0.218 0.008 223.9));
	--color-popover-foreground: light-dark(oklch(0.148 0.004 228.8), oklch(0.987 0.002 197.1));
	--color-primary: light-dark(oklch(0.5 0.134 242.749), oklch(0.443 0.11 240.79));
	--color-primary-foreground: light-dark(oklch(0.977 0.013 236.62), oklch(0.977 0.013 236.62));
	--color-secondary: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
	--color-secondary-foreground: light-dark(oklch(0.21 0.006 285.885), oklch(0.985 0 0));
	--color-muted: light-dark(oklch(0.963 0.002 197.1), oklch(0.275 0.011 216.9));
	--color-muted-foreground: light-dark(oklch(0.56 0.021 213.5), oklch(0.723 0.014 214.4));
	--color-accent: light-dark(oklch(0.963 0.002 197.1), oklch(0.275 0.011 216.9));
	--color-accent-foreground: light-dark(oklch(0.218 0.008 223.9), oklch(0.987 0.002 197.1));
	--color-destructive: light-dark(oklch(0.577 0.245 27.325), oklch(0.704 0.191 22.216));
	--color-border: light-dark(oklch(0.925 0.005 214.3), oklch(1 0 0 / 10%));
	--color-input: light-dark(oklch(0.925 0.005 214.3), oklch(1 0 0 / 15%));
	--color-ring: light-dark(oklch(0.723 0.014 214.4), oklch(0.56 0.021 213.5));
	--color-chart-1: light-dark(oklch(0.828 0.111 230.318), oklch(0.828 0.111 230.318));
	--color-chart-2: light-dark(oklch(0.685 0.169 237.323), oklch(0.685 0.169 237.323));
	--color-chart-3: light-dark(oklch(0.588 0.158 241.966), oklch(0.588 0.158 241.966));
	--color-chart-4: light-dark(oklch(0.5 0.134 242.749), oklch(0.5 0.134 242.749));
	--color-chart-5: light-dark(oklch(0.443 0.11 240.79), oklch(0.443 0.11 240.79));
	--color-sidebar: light-dark(oklch(0.987 0.002 197.1), oklch(0.218 0.008 223.9));
	--color-sidebar-foreground: light-dark(oklch(0.148 0.004 228.8), oklch(0.987 0.002 197.1));
	--color-sidebar-primary: light-dark(oklch(0.588 0.158 241.966), oklch(0.685 0.169 237.323));
	--color-sidebar-primary-foreground: light-dark(
		oklch(0.977 0.013 236.62),
		oklch(0.293 0.066 243.157)
	);
	--color-sidebar-accent: light-dark(oklch(0.963 0.002 197.1), oklch(0.275 0.011 216.9));
	--color-sidebar-accent-foreground: light-dark(oklch(0.218 0.008 223.9), oklch(0.987 0.002 197.1));
	--color-sidebar-border: light-dark(oklch(0.925 0.005 214.3), oklch(1 0 0 / 10%));
	--color-sidebar-ring: light-dark(oklch(0.723 0.014 214.4), oklch(0.56 0.021 213.5));

	--radius-sm: calc(var(--radius-lg) * 0.6);
	--radius-md: calc(var(--radius-lg) * 0.8);
	--radius-lg: 0.625rem;
	--radius-xl: calc(var(--radius-lg) * 1.4);
	--radius-2xl: calc(var(--radius-lg) * 1.8);
	--radius-3xl: calc(var(--radius-lg) * 2.2);
	--radius-4xl: calc(var(--radius-lg) * 2.6);

	--font-sitelen-seli-kiwen: "sitelen seli kiwen mono asuki";
	--font-sitelen-seli-juniko: var(--font-sans), "sitelen seli kiwen mono juniko";
	--font-sitelen-sitelen-open: "sitelen sitelen open";
	--font-sitelen-seli-kiwen--font-feature-settings: "rand";
	--font-sitelen-seli-juniko--font-feature-settings: "rand";

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 100%;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
}

@layer utilities {
	@font-face {
		font-family: "sitelen seli kiwen mono asuki";
		font-style: normal;
		font-weight: 400;
		src: url("https://raw.githubusercontent.com/lipu-linku/ijo/main/nasinsitelen/sitelenselikiwenmonoasuki.ttf");
	}

	@font-face {
		font-family: "sitelen seli kiwen mono juniko";
		font-style: normal;
		font-weight: 400;
		src: url("https://raw.githubusercontent.com/lipu-linku/ijo/main/nasinsitelen/sitelenselikiwenmonojuniko.ttf");
	}

	@font-face {
		font-family: "sitelen sitelen open";
		src: url("https://raw.githubusercontent.com/lipu-linku/ijo/main/nasinsitelen/sitelen-sitelen-open.ttf");
	}
}

@layer base {
	* {
		@apply border-border transition-discrete;
	}

	:root {
		--color-category-core: light-dark(oklch(0.7878 0.1516 88.71), oklch(93.29% 0.137 106.54));
		--color-category-common: oklch(61.15% 0.177 30.62);
		--color-category-uncommon: oklch(56.87% 0.159 351.1);
		--color-category-obscure: oklch(42.72% 0.249 311.74);
		--color-category-sandbox: oklch(50.55% 0.052 284.53);
		--color-category-foreground-core: light-dark(
			color-mix(in oklab, var(--color-category-core) 50%, black),
			color-mix(in oklab, var(--color-category-core) 90%, white)
		);
		--color-category-foreground-common: light-dark(
			color-mix(in oklab, var(--color-category-common) 70%, black),
			color-mix(in oklab, var(--color-category-common) 80%, white)
		);
		--color-category-foreground-uncommon: light-dark(
			color-mix(in oklab, var(--color-category-uncommon) 80%, black),
			color-mix(in oklab, var(--color-category-uncommon) 60%, white)
		);
		--color-category-foreground-obscure: light-dark(
			color-mix(in oklab, var(--color-category-obscure) 90%, black),
			color-mix(in oklab, var(--color-category-obscure) 60%, white)
		);
		--color-category-foreground-sandbox: light-dark(
			color-mix(in oklab, var(--color-category-sandbox) 90%, black),
			color-mix(in oklab, var(--color-category-sandbox) 50%, white)
		);
	}

	.light {
		color-scheme: light;
	}
	.dark {
		color-scheme: dark;
	}

	body {
		@apply min-h-dvh scroll-smooth bg-background text-foreground;
		scrollbar-gutter: stable;
	}

	input[type="search"] {
		&::-webkit-search-cancel-button,
		&::-webkit-calendar-picker-indicator {
			@apply hidden!;
		}
	}
}
