@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: light-dark(oklch(1 0 0), oklch(0.141 0.005 285.823));
	--color-foreground: light-dark(oklch(0.141 0.005 285.823), oklch(0.985 0 0));
	--color-card: light-dark(oklch(1 0 0), oklch(0.21 0.006 285.885));
	--color-card-foreground: light-dark(oklch(0.141 0.005 285.823), oklch(0.985 0 0));
	--color-popover: light-dark(oklch(1 0 0), oklch(0.21 0.006 285.885));
	--color-popover-foreground: light-dark(oklch(0.141 0.005 285.823), oklch(0.985 0 0));
	--color-primary: light-dark(oklch(0.21 0.006 285.885), oklch(0.92 0.004 286.32));
	--color-primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.21 0.006 285.885));
	--color-secondary: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
	--color-secondary-foreground: light-dark(oklch(0.21 0.006 285.885), oklch(0.985 0 0));
	--color-muted: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
	--color-muted-foreground: light-dark(oklch(0.552 0.016 285.938), oklch(0.705 0.015 286.067));
	--color-accent: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
	--color-accent-foreground: light-dark(oklch(0.21 0.006 285.885), oklch(0.985 0 0));
	--color-destructive: light-dark(oklch(0.577 0.245 27.325), oklch(0.704 0.191 22.216));
	--color-border: light-dark(oklch(0.92 0.004 286.32), oklch(1 0 0 / 10%));
	--color-input: light-dark(oklch(0.92 0.004 286.32), oklch(1 0 0 / 15%));
	--color-ring: light-dark(oklch(0.705 0.015 286.067), oklch(0.552 0.016 285.938));
	--color-chart-1: light-dark(oklch(0.646 0.222 41.116), oklch(0.488 0.243 264.376));
	--color-chart-2: light-dark(oklch(0.6 0.118 184.704), oklch(0.696 0.17 162.48));
	--color-chart-3: light-dark(oklch(0.398 0.07 227.392), oklch(0.769 0.188 70.08));
	--color-chart-4: light-dark(oklch(0.828 0.189 84.429), oklch(0.627 0.265 303.9));
	--color-chart-5: light-dark(oklch(0.769 0.188 70.08), oklch(0.645 0.246 16.439));
	--color-sidebar: light-dark(oklch(0.985 0 0), oklch(0.21 0.006 285.885));
	--color-sidebar-foreground: light-dark(oklch(0.141 0.005 285.823), oklch(0.985 0 0));
	--color-sidebar-primary: light-dark(oklch(0.21 0.006 285.885), oklch(0.488 0.243 264.376));
	--color-sidebar-primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.985 0 0));
	--color-sidebar-accent: light-dark(oklch(0.967 0.001 286.375), oklch(0.274 0.006 286.033));
	--color-sidebar-accent-foreground: light-dark(oklch(0.21 0.006 285.885), oklch(0.985 0 0));
	--color-sidebar-border: light-dark(oklch(0.92 0.004 286.32), oklch(1 0 0 / 10%));
	--color-sidebar-ring: light-dark(oklch(0.705 0.015 286.067), oklch(0.552 0.016 285.938));

	--radius-sm: calc(var(--radius-lg) - 4px);
	--radius-md: calc(var(--radius-lg) - 2px);
	--radius-lg: 0.625rem;
	--radius-xl: calc(var(--radius-lg) + 4px);

	--font-sitelen-seli-kiwen: "sitelen seli kiwen mono asuki";
	--font-sitelen-seli-juniko: var(--font-sans), "sitelen seli kiwen mono juniko";
	--font-sitelen-seli-kiwen--font-feature-settings: "rand";
	--font-sitelen-seli-juniko--font-feature-settings: "rand";

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}

	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}

	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 100%;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;

	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

@layer utilities {
	@font-face {
		font-family: "sitelen seli kiwen mono asuki";
		font-style: normal;
		font-weight: 400;
		src: url("https://raw.githubusercontent.com/lipu-linku/ijo/main/nasinsitelen/sitelenselikiwenmonoasuki.ttf");
	}

	@font-face {
		font-family: "sitelen seli kiwen mono juniko";
		font-style: normal;
		font-weight: 400;
		src: url("https://raw.githubusercontent.com/lipu-linku/ijo/main/nasinsitelen/sitelenselikiwenmonojuniko.ttf");
	}
}

@layer base {
	* {
		@apply border-border;
	}

	:root {
		--color-category-core: oklch(93.29% 0.137 106.54);
		--color-category-common: oklch(61.15% 0.177 30.62);
		--color-category-uncommon: oklch(56.87% 0.159 351.1);
		--color-category-obscure: oklch(42.72% 0.249 311.74);
		--color-category-sandbox: oklch(50.55% 0.052 284.53);
	}

	.light {
		color-scheme: light;
	}
	.dark {
		color-scheme: dark;
	}

	body {
		@apply bg-background text-foreground min-h-dvh scroll-smooth;
		scrollbar-gutter: stable;
	}

	input[type="search"] {
		&::-webkit-search-cancel-button,
		&::-webkit-calendar-picker-indicator {
			@apply !hidden;
		}
	}
}
